.user {
  background-color: #2b3566;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.user img {
  width: 140px;
  height: 140px;
  border: 4px solid #644aff;
  border-radius: 50%;
}